@font-face {
  font-family: 'Tahoma';
  src: url('fonts/tahoma.ttf');
}

#main-header {
  color: white;
  text-align: center;
  z-index: 2;
  font-size: 45pt;

}
#mass-text {
  font-family: 'Tahoma';
  color: white;
  font-size: 30pt;
  /* background-color: #3d3a3a;
  border-color: white; */
  /* border-style: solid; */
  border-radius: 10px;
  padding: 10px;
  
}
body {
  overflow: hidden;
  background-color: #202020;
  margin: 0;
  font-family: 'Tahoma';
}
button {
  font-family: 'Tahoma';
  border-style: solid;
  border-color: white;
  background-color: #3d3a3a;
  border-radius: 10px;
  font-size: 30pt;
  color: white;
}

button:disabled {
  background-color: rgb(23, 22, 22);
  color: #3d3a3a;
  border-color: #3d3a3a;
}
button:active{
  /* background-color: rgb(23, 22, 22); */
  /* color: #3d3a3a; */
  border-color: #3d3a3a;
}
canvas {
  position: absolute;
  top: 20;
  left: 30;
  width: 100px;
  height: 100px;
  z-index: -1;
  /* border-style: solid; */
  border-color: white;
  border-radius: 10px;
  border-width: 1px;

}